body{
    background-color:gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 270px;
    margin-right: 270px;
    padding: 40px;
}

.dateline{
    font-style: italic;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.firstline{
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.heading{
    font-weight: bold;
    font-size: 59px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.mark{
    background-color: maroon;
    color: white;
    font-style: italic;
    padding: 2px;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
    position: absolute;
    top:-10px;
}

.headline{
    font-weight: bold;
    font-size: 16px;
}

.content{
    display: flex;
    flex-direction: row;
    font-size: 13px;
    justify-content: space-between;
}

.para{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
