.main-frame{
    background-color: #303e47;
    margin-left: 200px;
    margin-right: 200px;
    padding:50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}

.grid-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    width: 650px;
}

.grid-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.grid-row-left{
    text-align: center;
    width: 325px;
}

.grid-row-right{
    text-align: center;
    width: 325px;
}
